@import url('https://fo ts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #000;
    background-color: #f8f5f5;
    min-height: 100vh;
    position: relative;
}

.wrapper {
    display: flex;
}

h1 {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #181818;
}

button {
    cursor: pointer;
}

.main_content {
    background: #fff;
    border-radius: 7px;
    padding: 0px 0px;
    font-size: 12px;
    position: relative;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 250px;
    display: block;
    margin-right: 15px;
    background: #fff;
    height: 100vh;
}

.sidebar-logo {
    text-align: center;
    padding-top: 1.5rem;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar-menu__list {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin: 15px;
}

.sidebar-menu__item {
    background: #f2f2f2;
    padding: 10px;
    border-radius: 8px;
}

.content {
    border-radius: 8px;
    height: max-content;
    padding: 20px 30px;
    margin: 10px 0px;
}

.nav {
    padding: 10px 20px;
    border-bottom: 20px solid #f8f5f5;
    margin-left: -15px;
    background: #fff;
    z-index: 2;
}

/* Modal window */

button {
    margin: 0;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;
  }
  
  .btn {
    font-size: 14px;
    line-height: 1.4;
    padding: 13px 20px;
    border-radius: 4px;
    transition: box-shadow 0.1s, top 0.1s;
    box-shadow: 0 3px 0 rgba(0,0,0,0.3);
    top: 0;
    background: #fff;
  }
  .btn:hover {
    box-shadow: 0 3px 0 transparent;
    top: 3px;
  }
  .btn:active {
    background: #f2f2f2;
  }
  
  /** Modal */
  .modal-window {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    max-width: 300px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  }
  .modal-close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
  }
  
  /** Overlay */
  .modal-overlay {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  
  /** JS */
  .is-visible {
    opacity: 1;
    pointer-events: auto;
  }

/* Modal window */

.status-title,
.status-subtitle {
    font-size: 12px;
    color: #9b9b9b;
    font-weight: 500;
}

.status-title {
    margin-bottom: 20px;
}

.status-subtitle {
    margin-bottom: 10px;
}

.status-item {
    display: flex;
    margin-bottom: 8px;
}

.status-item__content {
    background: #f2f2f2;
    justify-content: space-between;
    padding: 8px 10px;
    border-radius: 7px 0 0 7px;
    max-width: 300px;
    width: 100%;
    display: flex;
}

.status-item__inner {
    display: flex;
    align-items: center;
}

.status-item__content__icon {
    width: 35px;
    display: block;
    margin-right: 7px;
}

.status-item__clients {
    max-width: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.status-item__clients__icon {
    display: block;
    width: 20px;
    margin-right: 8px;
}

.status-item__name,
.status-item__number {
    font-size: 12px;
    color: #000;
    font-weight: 500;
}

.status-item__link {
    width: 40px;
    background: #f2f2f2;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
    border-radius: 0 7px 7px 0;
}

.status-item__link img {
    width: 8px;
    display: block;
}

/* Manager */

.manager-header {
    display: flex;
}

.manager-create {
    display: flex;
    margin-right: auto;
}

.manager-create h1 {
    width: 110px;
    margin: auto;
}

.manager-create__button {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    border-radius: 7px;
    padding: 5px 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
    border: 1px solid #d9d9d9;
    margin-right: auto;
    cursor: pointer;
}

.manager-search span {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #9B9B9B;
    margin-right: 10px;
}

.manager-search__input {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    border: 1px solid #d9d9d9;
    padding: 6px 12px;
    width: 258px;
}

.manager-wrapper {
    margin: 2rem 0;
}

.manager-nav {
    display: flex;
    margin-bottom: 4px;
    cursor: pointer;
}

.manager-nav__active {
    background: #f2f2f2 !important;
}

.manager-nav__item {
    width: 12%;
    padding: 10px 10px;
    margin: 0px 2px;
    background: #FFFFFF;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 7px 7px 0px 0px;
}

.manager-menu__number {
    font-weight: bold;
}

.manager-menu__number,
.manager-client__status {
    padding: 2px 4px;
    color: #181818;
}

.manager-client__status {
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
}

.manager-indicator__line {
    border-radius: 8px;
    width: 100%;
    height: 5px;
}

.manager-indicator__new {
    background: #000000;
}

.manager-indicator__one {
    background: #FCB664;
}

.manager-indicator__two {
    background: #57B6ED;
}

.manager-indicator__three {
    background: #A5D05F;
}

.manager-indicator__four {
    background: #19B28D;
}

.manager-indicator__five {
    background: #27AE60;
}

.manager-indicator__six {
    background: #4778b4;
}

.manager-indicator__archive {
    background: #EE505A;
}

.manager-content {
    border: 4px solid #f2f2f2;
    margin: 2px;
    padding: 4px;
    border-radius: 0px 4px 4px 4px;
}

.manager-content__table {
    width: 100%;
    border-collapse: collapse;
}

.manager-content__border {
    border-top: 1px solid #f2f2f2;
    background: #fff;
}

.manager-content__down img {
    cursor: pointer;
    width: 10px;
    height: 10px;
    filter: invert(48%);
}

.manager-content__table tr th {
    font-weight: bold;
    color: #5b5b5a;
    background: #f2f2f2;
    padding: 14px 10px !important;
}

.manager-content__table tr td {
    font-weight: 400;
    font-family: 'Roboto';
    width: 140px;
    color:#404040;
}

/* .manager-content__table tbody tr:nth-child(1) {
    background: rgba(188, 89, 89, 0.15);
}

.manager-content__table tbody tr:nth-child(2) {
    background: rgba(255, 249, 67, 0.37);
}

.manager-content__table tbody tr:nth-child(3) {
    background: #0ef34a26;
} */

.manager-content__table tr td:nth-child(1) {
    width: 50px;
}

.manager-content__table tr td:nth-child(2) {
    width: 110px;
}

.manager-content__table tr th,
.manager-content__table tr td {    
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    padding: 5px 8px;
}

.manager-content__icon a img,
.manager-content__icon button img {
    width: 21px;
    height: 21px;
}

.manager-content__icon button {
    background: inherit;
    border: 0;
    cursor: pointer;
}

.manager-content__phone a {
    color: #454540;
    text-decoration: none;
}

.manager-content__phone p a {
    color: #4778b4;
}

.manager-content__stage {
    padding: 3px;
    color: #fff;
    border-radius: 4px;
}

.manager-content__stage1 {
    background: #19B28D;
}

.manager-content__stage2 {
    background: #4778b4;
}

.manager-content__stage3 {
    background: #EE505A;
}

.manager-content__stage4 {
    background: #9B9B9B;
}

.manager-content__stage__date {
    margin-top: 4px;
    padding-top: 4px;
    color: #999999;
}

/* New clients */

.status-service-add__wrapper {
    margin: 40px auto;
}

.status-service-add__item,
.users-add__item {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 1rem;
}

.status-service-add__item label,
.users-add__item label {
    width: 30%;
    font-weight: 700;
    font-size: 14px;
    text-align: right;
    color: #000000;
    margin: auto 0px;
    padding-right: 1rem;
}

.status-service-add__item input,
.users-add__item input {
    margin: auto 0px;
    background: #FFFFFF;
    border: 1px solid rgba(11, 30, 69, 0.2);
    box-sizing: border-box;
    border-radius: 7px;
    width: 368px;
    height: 40px;
    padding: 0px 10px;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    color: #000000;
    font-weight: 500;
    font-style: normal;
    font-family: 'Roboto';
}

.status-service-add__item input:focus,
.users-add__item input:focus {
    box-shadow: 0px 0px 15px #d9d9d9;
    outline: none;
}

.status-service-add__item input::placeholder,
.users-add__item input::placeholder {
    color: #AAABAD;
}

.status-service-add__item select,
.users-add__item select {
    width: 370px;
    height: 40px;
    left: 172px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid rgba(11, 30, 69, 0.2);
    box-sizing: border-box;
    border-radius: 7px 7px;
}
.status-service-add__item__input {
    width: 203px !important;
}

.status-service-add__item select option,
.users-add__item select option {
    padding: 10px;
}

.status-service-add__contact__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #9B9B9B;
    padding: 0px 25px;
}

.status-service-add__contact__button {
    width: 52px;
    height: 40px;
    background: #fff;
    border: 1px solid rgba(11, 30, 69, 0.2);
    box-sizing: border-box;
    border-radius: 7px;
    cursor: pointer;
    margin: 0px 6px;
}

.status-service-add__contact__button__active {
    background: #FFE6E6;  
}

.status-service-add__contact {
    margin-left: auto;
    width: 66%;
}

.status-service-add__buttons {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 38%;
}

.users-add__item__buttons {
    position: relative;
    display: flex;
    width: 70%;
    justify-content: center;
}

.status-service-add__button {
    width: 112px;
    height: 40px;
    right: 616px;
    bottom: 449px;
    border-radius: 7px;
    margin-left: 18px;
    cursor: pointer;
}

.users-add__item__buttons button {
    width: 112px;
    height: 40px;
    border-radius: 7px;
    margin-left: 18px;
    cursor: pointer;
}

.users-add__item__buttons .button__active {
    border: 1px solid #19d28d;
    background: #19B28D;
    color: #fff;
}

.users-add__item__buttons .button__outline {
    background: #fff;
    border: 2px solid #aaabad;
}

.status-service-add__button__add {
    border: 1px solid #19d28d;
    background: #19B28D;
    color: #fff;
}

.status-service-add__button__outline {
    background: #fff;
    border: 2px solid #aaabad;
}

/* Modal window */ 

.modal-notification {
    background: #fff;
    width: 450px;
    height: max-content;
    padding: 10px 20px;
    border: 2px solid #d9d9d9;
    position: fixed;
    display: block;
    top: 10%;
    right: 35%;
    border-radius: 8px;
    opacity: 0;
}

.modal-color {
    background: #fff;
    width: 450px;
    height: max-content;
    padding: 10px 20px;
    border: 2px solid #d9d9d9;
    position: fixed;
    display: block;
    top: 10%;
    right: 35%;
    border-radius: 8px;
    opacity: 0;
}

.modal-change-item {
    background: #fff;
    width: 450px;
    height: max-content;
    padding: 10px 20px;
    border: 2px solid #d9d9d9;
    position: fixed;
    display: block;
    top: 10%;
    right: 35%;
    border-radius: 8px;
    opacity: 0;
}

.modal h2 {
    font: 18px;
}

.modal p {
    font-size: 14px;
}

.modal-closed {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.modal-color-close {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.modal-change-close {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.is-visible {
    opacity: 1 !important;
}

.is-visibles {
    opacity: 1 !important;
}

.status-modal {
    padding: 20px 30px;
}

.status-modal label,
.status-color-modal label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 170.1%;
    color: #000000;
}

.status-modal input {
    width: 346px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    background: #FFFFFF;
    border: 1px solid rgba(11, 30, 69, 0.2);
    box-sizing: border-box;
    border-radius: 7px;
    padding: 20px 14px;
    align-items: center;
    color: #AAABAD;
    margin: 10px 0;
}

.status-modal textarea {
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid rgba(11, 30, 69, 0.2);
    box-sizing: border-box;
    border-radius: 7px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #AAABAD;
    padding: 8px 14px;
    margin: 10px 0;
}

/* Status color */

.status-color-modal label {
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: block;
}

.status-color-btn,
.status-change {
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border-radius: 7px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid #d9d9d9;
    margin-bottom: 1rem;
    text-align: center;
    cursor: pointer;
}

.status-color-btn-red:hover {
    background: #ee505a;
}

.status-color-btn-yellow:hover {
    background: #fcb664;
}

.status-color-btn-gray:hover {
    background: #9b9b9b;
}

.status-color-btn-green:hover {
    background: #27ae60;
}

/* Users */

.users-title {
    display: flex;
    padding: 10px;
}

.users-title h1 {
    margin: auto 0;
}

.users-title a {
    background: #e3e3e3;
    border-radius: 8px;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    display: flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto';
    color: #fff;
}

.users-title a:hover,
.users-title a span:hover {
    color: #000;
}

.users-title a span {
    opacity: 1;
    display: block;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
    margin-right: 4px;
}



.users-title img {
    margin: auto 0;
    align-items: center;
    display: flex;
    flex: 0;
    text-align: center;
    padding: 3px;
}

.users-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
    border: 4px solid #f2f2f2;
    margin: 2px;
    padding: 4px;
    border-radius: 0px 4px 4px 4px
}

.users-table thead tr th {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    background: #f2f2f2;
    color: #000000;
    margin: 0px 40px;
    text-align: left;
    padding: 13px 0px 13px 20px;
    border-bottom: 1.5px solid #e3e3e3;
}

.users-table tr:hover {
    padding: 13px 0px 13px 20px;
    background: #E9EAEA;
}

.users-table tbody tr td {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    border: 0;
    line-height: 14px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 40px;
    align-items: center;
    padding: 13px 0px 13px 20px;
}

.users-table .users-table-empty {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #DD2A1B;
}

.users-table tbody tr td img {
    width: 18.84px;
    height: 18.87px;
}

.users-table tbody tr td button {
    background: inherit;
    border: 0;
    cursor: pointer;
}

.login-wrapper {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f5f5;
    overflow: hidden;
    z-index: 2;
}

.login-top {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.login-bottom {
    position: absolute;
    bottom: -180px;
    left: 0;
    width: 100%;
    z-index: -1;
}

.login {
    position: relative;
    max-width: 1190px;
    margin: 0 auto;
    width: 100%;
}

.login-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.login-content__left,
.login-content__right {
    width: 50%;
}

.login-content__left {
    margin-top: 80px;
    width: 444px;
    height: 400px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    position: relative;
}

.login-content__right {
    width: 470px;
    height: 470px;
    background: hsla(0,0%,100%,.7);
    border-radius: 10px;
    text-align: center;
    margin: auto;
    padding: 50px;
}

.login-content__right form {
    position: relative;
}

.login-content__right h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #5B5B5A;
}

.login-content__right form {
    padding: 2rem 2rem;
    position: relative;
}

.login-content__item {
    position: relative;
}

.login-content__right form input {
    margin-top: .8rem;
    margin-bottom: .8rem;
    outline: none;
}

.login-content__right form input:focus {
    box-shadow: 0px 0px 20px #d9d9d9;
}

.login-content__right__input {
    width: 100%;
    padding: 11px 13px 13px 37px;
    border: 1px solid #989898;
    border-radius: 7px;
    font-size: 14px;
    transition: .3s;
    background: #FFFFFF;
    border: 1px solid #989898;
    box-sizing: border-box;
    border-radius: 7px;
}

.login-content__checkbox__label {
    margin: 5px 0 16px 35px;
    font-size: 13px;
    font-weight: 400;
    color: #5b5b5a;
    display: flex;
    align-items: center;
    position: relative;
    align-self: flex-start;
    cursor: pointer;
}

.login-content__right__radio {
    border-radius: 7px;
    width: 17px;
    height: 17px;
    border: 1px solid #989898;
    background: #fff;
    box-shadow: inset 0 0 0 2px #fff;
    transition: .3s;
    position: absolute;
    top: 0;
    left: -30px;
    overflow: hidden;
}

.login-content__checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.login-content__right button {
    width: 100%;
    height: 38px;
    left: 122px;
    top: 332px;
    background: #000000;
    border-radius: 7px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: .5rem;
}

.login-content-right__span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    color: #5B5B5A;
}

.login-content__left img {
    width: 429px;
    height: 113px;
}

.login-content__left h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
    color: #000000;
    text-align: left;
    margin-top: 2rem;
}

.login-content__text {
    font-size: 24px;
    text-align: left;
}

.login-content__img {
    position: absolute;
    top: 19px;
    left: 10px;
    width: 24px;
}

/* Modal window */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
  }
  .modal.modal-show {
    animation: fadeIn 0.1s ease-in-out forwards;
  }
  .modal.modal-hide {
    animation: fadeOut 0.1s ease-in-out 0.1s forwards;
  }
  .modal-content {
    position: relative;
    background-color: #fff;
    margin: 2rem;
    padding: 2rem;
    border-radius: 0.25rem;
    width: 40%;
    max-height: 75%;
    overflow: auto;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
  }
  .modal.modal-show .modal-content {
    animation: fadeInDown 0.3s ease-in-out forwards;
  }
  .modal.modal-hide .modal-content {
    animation: fadeOutUp 0.2s ease-in-out forwards;
  }
  .modal-content h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  .modal-content p {
    margin: 1rem 0;
    line-height: 1.5rem;
  }
  .modal-closed {
    position: absolute;
    top: 10%;
    right: 2%;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 0 0.75rem;
    color: rgba(0,0,0,0.2);
    cursor: pointer;
    user-select: none;
  }
  .modal-closed:hover, .modal-closed:focus {
    color: rgba(0,0,0,0.5);
  }
/* Modal window */  

/* Modal input button textare */

.modal-content p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 170.1%;
    color: #000000;
    text-align: left;
}

.modal-content input {
    width: 368px;
height: 40px;
left: 0px;
top: 0px;

background: #FFFFFF;
border: 1px solid rgba(11, 30, 69, 0.2);
box-sizing: border-box;
border-radius: 7px;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
color: #AAABAD;
}

.modal-content label {
    display: block;
    text-align: left;
    width: 368px;
    margin: 0.7rem 0rem;
    font-weight: 500;
}

.modal-content textarea {
    width: 368px;
height: 60px;
left: 0px;
top: 32px;

background: #FFFFFF;
border: 1px solid rgba(11, 30, 69, 0.2);
box-sizing: border-box;
border-radius: 7px;
display: flex;
}

.modal-content button {
    width: 367px;
    height: 40px;
    border-radius: 7px;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-radius: 7px;
    border: 1px solid #d9d9d9;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

/* Modal input button textarea */

/* Modal user */
.modal-users {
    position: relative;
    display:flex;
    justify-content: center;
}
.modal-user {
    padding: 9px 20px;
    width: 112px;
    height: 40px;
    border-radius: 7px;
    margin-left: .5rem;
    margin-right: .5rem;
}

.modal-user .modal-user-cancel {
    border: 2px solid #AAABAD;
    background: #e3e3e3;
}

.modal-user .modal-user-cancel:hover {
    background: #d9d9d9;
}

.modal-user-save {
    background: #19B28D;
}

.modal-user-delete {
    background: #DD2A1B ;
}
/* Modal user */